@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    color: #eee;
    background: rgb(47, 77, 105);
}

body a{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

#finalCoords {
    font-size: 2rem;
}

#coordsForm {
    font-size: 1.5rem;
}

#map {
    position: absolute;
    border: 3px solid #fff;
    background-image: url("img/sn-map.png");
}

.landmark {
    position: absolute;
    box-shadow: none !important;
    font-size: 0.5em;
    transition: 0.2s;
    z-index: 0;
}

.markerText {
    position: relative;
    font-weight: 800;
    margin-left: 20px;
    margin-top: -10px;
    text-shadow: #000 1px 1px;
}

.landmark:hover {
    font-size: 1em;
    transition: 0.2s;
    z-index: 999;
}

.marker {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    box-shadow: #000 1px 1px;
}